<app-navbar [nombre]="'INFORMACIÓN'"></app-navbar>

<div class="row mt-2">
  <!-- Columna Izquierda -->
  <div class="col-6 d-flex flex-column align-items-center justify-content-center">
    <button class="btn btn-primary mb-2 w-100" [routerLink]="['/registrar-maquinaria']">REGISTRO DE INVENTARIO</button>
    <button class="btn btn-primary mb-2 w-100" [routerLink]="['/equipos']">MERCANCIA</button>
  </div>

  <!-- Columna Derecha -->
  <div class="col-6">
    <img src="../../../assets/img/las-redes-de-computadoras-eddaxb.jpg" class="w-100" alt="">
  </div>
</div>



